In [3]:
import numpy as np

##### Task 1: Simple matrix operation

1. Compute $A^T$, the diagonal of $A$, $A^TA$ and $A^TB$

In [5]:
A = np.array([[1, 1, 2], [1, 0, 1], [0, 2, 2]])

In [6]:
B = np.array([[-1, 5], [1, 1], [3, 2]])

In [7]:
A.T

array([[1, 1, 0],
       [1, 0, 2],
       [2, 1, 2]])

In [9]:
A.diagonal()

array([1, 0, 2])

In [14]:
np.matmul(A.T, A)

array([[2, 1, 3],
       [1, 5, 6],
       [3, 6, 9]])

In [17]:
np.matmul(A.T, B)

array([[ 0,  6],
       [ 5,  9],
       [ 5, 15]])

Compute the matrix $D$ whose elements are the elements of A to the power of 3. Compare this to the matrix $E=A^3$

In [22]:
D = np.power(A, 3)
D

array([[1, 1, 8],
       [1, 0, 1],
       [0, 8, 8]])

In [23]:
E = A^3
E

array([[2, 2, 1],
       [2, 3, 2],
       [3, 1, 1]])

Compute the dimension, the trace, the determinant, the eigenvalues and the eigenvectors
of A. Create three vectors, v1, v2 and v3 which are respectively the first, second and
third eigenvectors of A. Create three scalars lambda1, lambda2 and lambda3 which are
respectively the first, second and third eigenvalues of A. Also compute the rank of A. For
the rank, you need to use the package Matrix

In [35]:
from numpy.linalg import eig, matrix_rank

In [30]:
eigenvalues, eigenvectors = eig(A)

In [31]:
eigenvalues

array([-3.02775638e-01, -5.55111512e-17,  3.30277564e+00])

In [32]:
eigenvectors

array([[-0.39280163,  0.57735027,  0.69431298],
       [-0.69431298,  0.57735027,  0.39280163],
       [ 0.60302269, -0.57735027,  0.60302269]])

In [36]:
matrix_rank(A)

2

##### Task 2: Elementary Descriptive Statistics

The file google_review_ratings.csv taken from https://archive.ics.uci.edu/ml/datasets/Tarvel+Review+Ratings#, contains data populated by capturing user ratings from Google re-
views (Dennis: I have corrected one seemingly erroneous entry in the dataset). Reviews on
attractions from 24 categories across Europe are considered. Google user rating ranges from 1
to 5 and average user rating per category is calculated. This data set contains the reviews over
the p = 24 categories of n = 5456 individuals.

1. Open the file to see it's structure and check how the attributes are formatted in the file

In [70]:
import matplotlib.pyplot as plt
from ucimlrepo import fetch_ucirepo 

# this is actually really cool - UC Irvine has a nice API to just read in datasets now. 
# id=485 corresponds to the dataset we're after here
data_set = fetch_ucirepo(id=485)

In [55]:
X = data_set.data.features

In [57]:
X.columns

Index(['churches', 'resorts', 'beaches', 'parks', 'theatres', 'museums',
       'malls', 'zoos', 'restaurants', 'pubs/bars', 'local services',
       'burger/pizza shops', 'hotels/other lodgings', 'juice bars',
       'art galleries', 'dance clubs', 'swimming pools', 'gyms', 'bakeries',
       'beauty & spas', 'cafes', 'view points', 'monuments', 'gardens'],
      dtype='object')

In [59]:
y = data_set.data.targets

Compute the mean vector, the covariance matrix and correlation matrix for the rating data

In [64]:
X

,churches,resorts,beaches,parks,theatres,museums,malls,zoos,restaurants,pubs/bars,...,art galleries,dance clubs,swimming pools,gyms,bakeries,beauty & spas,cafes,view points,monuments,gardens
0,0.00,0.00,3.63,3.65,5.00,2.92,5.00,2.35,2.33,2.64,...,1.74,0.59,0.50,0.00,0.50,0.00,0.00,0.0,0.0,0.00
1,0.00,0.00,3.63,3.65,5.00,2.92,5.00,2.64,2.33,2.65,...,1.74,0.59,0.50,0.00,0.50,0.00,0.00,0.0,0.0,0.00
2,0.00,0.00,3.63,3.63,5.00,2.92,5.00,2.64,2.33,2.64,...,1.74,0.59,0.50,0.00,0.50,0.00,0.00,0.0,0.0,0.00
3,0.00,0.50,3.63,3.63,5.00,2.92,5.00,2.35,2.33,2.64,...,1.74,0.59,0.50,0.00,0.50,0.00,0.00,0.0,0.0,0.00
4,0.00,0.00,3.63,3.63,5.00,2.92,5.00,2.64,2.33,2.64,...,1.74,0.59,0.50,0.00,0.50,0.00,0.00,0.0,0.0,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5451,0.91,5.00,4.00,2.79,2.77,2.57,2.43,1.09,1.77,1.04,...,5.00,0.66,0.65,0.66,0.69,5.00,1.05,5.0,5.0,1.56
5452,0.93,5.00,4.02,2.79,2.78,2.57,1.77,1.07,1.76,1.02,...,0.89,0.65,0.64,0.65,1.59,1.62,1.06,5.0,5.0,1.09
5453,0.94,5.00,4.03,2.80,2.78,2.57,1.75,1.05,1.75,1.00,...,0.87,0.65,0.63,0.64,0.74,5.00,1.07,5.0,5.0,1.11
5454,0.95,4.05,4.05,2.81,2.79,2.44,1.76,1.03,1.74,0.98,...,5.00,0.64,0.63,0.64,0.75,5.00,1.08,5.0,5.0,1.12
5455,0.95,4.07,5.00,2.82,2.80,2.57,2.42,1.02,1.74,0.96,...,0.85,0.64,0.62,0.63,0.78,5.00,1.08,5.0,5.0,1.17

In [69]:
X.columns

Index(['churches', 'resorts', 'beaches', 'parks', 'theatres', 'museums',
       'malls', 'zoos', 'restaurants', 'pubs/bars', 'local services',
       'burger/pizza shops', 'hotels/other lodgings', 'juice bars',
       'art galleries', 'dance clubs', 'swimming pools', 'gyms', 'bakeries',
       'beauty & spas', 'cafes', 'view points', 'monuments', 'gardens'],
      dtype='object')

In [67]:
X.sc

0       2.92
1       2.92
2       2.92
3       2.92
4       2.92
        ...
5451    2.57
5452    2.57
5453    2.57
5454    2.44
5455    2.57
Name: museums, Length: 5456, dtype: float64

In [ ]:
pd.plotting.scatter_matrix(X)
plt.show()